@import "tailwindcss";
@theme {

  /* Background colors - Dark blue/gray */
  --color-background-darker: #0a0e1a;
  --color-background-dark: #0f1419;
  --color-background-light: #252b3b;
  --color-background-lighter: #2d3548;
  --color-background: #1a1f2e;


  /* Navbar color */
  --color-navbar-background: var(--color-gray-900);


  --color-primary-50:  #ffffff;
  --color-primary-100: #ffe6ff;
  --color-primary-200: #ffccff;
  --color-primary-300: #ffb3ff;
  --color-primary-400: #ff99ff;
  --color-primary-500: #ff66ff;
  --color-primary-600: #ff33ff;
  --color-primary-700: #cc00cc; /* base */
  --color-primary-800: #990099;
  --color-primary-900: #660066;
  --color-primary-950: #330033;
  --color-primary-975: #1a001a;


  /* Secondary - Neon Blue */
  --color-secondary-50: #eff6ff;
  --color-secondary-100: #dbeafe;
  --color-secondary-200: #bfdbfe;
  --color-secondary-300: #93c5fd;
  --color-secondary-400: #60a5fa;
  --color-secondary-500: #3b82f6;
  --color-secondary-600: #2563eb;
  --color-secondary-700: #1d4ed8;
  --color-secondary-800: #1e40af;
  --color-secondary-900: #1e3a8a;

  /* Success/Running - Neon Green */
  --color-success-50: #ecfdf5;
  --color-success-100: #d1fae5;
  --color-success-200: #a7f3d0;
  --color-success-300: #6ee7b7;
  --color-success-400: #34d399;
  --color-success-500: #10b981;
  --color-success-600: #059669;
  --color-success-700: #047857;
  --color-success-800: #065f46;
  --color-success-900: #064e3b;

}
/* Global base styles */
body {
  background-color: var(--color-background);
}
main {
  height: 100%;
  /*background-color: blue;*/

}
.main-content {
  height: 100% !important;
  /*background-color: red;*/
}
